pytest==8.3.1
skia-python==87.6
numpy==2.0.1  # undeclared dependency of skia-python
pycairo==1.26.1; sys_platform != 'darwin'  # there are currently no Mac wheels for pycairo
pyobjc==8.5; sys_platform == 'darwin'
pillow==10.0.1
